body {
    background-color: #f8e8a6;
    text-align: center;
}
.container {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 70%;
    background-color: #fff1d6;
    border-radius: 1rem;
    box-shadow: 0 8px 8px -4px #e197476c;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    margin: 1rem;
}

.nav-link {
    text-decoration: none;
    background-color: #F3AD61;
    color: rgb(249, 249, 249);
    padding: 0.435rem;
    border-radius: 0.435rem;
}

.nav-link:hover {
    background-color: #E19747;
}

img {
    max-width:50%;
    border-radius: 2rem;
}

.contact-link {
    text-decoration: none;
    color: #F3AD61;
}

.contact-link:hover {
    color: #E19747;
}